name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: './'

permissions:
  contents: write
  pages: write
